

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>List</h1>
    <table>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>@item.Id</td>
                <td><a href="@item.Link">@item.Link</a></td>
                <td>@item.IsAvailable   </td>
            </tr>
        }
    </table>

    <h2>@Model</h2>
    <a asp-action="AddItem">Dodaj Link</a>
    <a asp-action="ClearDb">Wyczyść bazę</a>
</body>
</html>